<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnWarning="false"
        stopOnIncomplete="false"
        stopOnRisky="false"
        stopOnSkipped="false"
        failOnRisky="false"
        failOnWarning="false"
        beStrictAboutChangesToGlobalState="false"
        beStrictAboutOutputDuringTests="false"
        beStrictAboutResourceUsageDuringSmallTests="false"
        beStrictAboutTestsThatDoNotTestAnything="false"
        beStrictAboutTodoAnnotatedTests="false"
        beStrictAboutCoversAnnotation="false"
        enforceTimeLimit="false"
        verbose="false">

    <php>
        <!-- Reduce deprecation noise -->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
    </php>

    <testsuites>
        <testsuite name="upgrade-toolkit">
            <directory>tests</directory>
            <directory suffix=".php">tests/Unit/Rector/Fixtures</directory>
        </testsuite>
    </testsuites>
</phpunit>
